.reviewsWidgetContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  font-family: Arial;
}

.ratingsReviewMain {
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-area: 1 / 2 / 2 / 3; */
}

.ratingsReviewContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 0px;
}

.starBarContainer {
  display: flex;
}

.starRatingBar {
  flex-grow: 1;
}